
body{
  -webkit-font-smoothing:antialiased;
  background-color: #efeff2;
}

.pad {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-left: 6px;
  background-color: white;
  border: 1px solid #ccc
}
.bar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  margin-left: 6px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: right;
}

.bar_line{
  position: relative;
  top: -30px;
  left: -4px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  height: 346px;
  width: 1px;
}


.instrument_label {
  display:inline-block;
  background-color: white;
  vertical-align: top;
  width: 100px;
  border-radius: 2px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: -4px;
}

.instrument_row .btn-default{
  padding: 0px;
}

.step_number_container{
  margin-bottom: 5px;

}


.pad_container {
  border: 2px solid #dadae3;
  background-color: #e0e0e0;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  width: 850px;
  margin: auto;
  margin-top: 20px;
  text-align: right;
  box-shadow: 10px 10px 20px gray

}



.control {
  text-align: center;
  margin-top: 10px;
}



.title {
  font-size: 3.5em;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
}

.tracks_header{
  margin-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.description{
  margin: auto;
  width: 50%;
  text-align: center;
  letter-spacing: 1px;
}

.directions{
  margin-top: 10px
}

.footer{
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
}

.control .btn{
  display: inline-flex;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.bpm-label{
  line-height: 34px;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
}

.clear{
  margin-top: 50px;
}

.bpm{
  display: inline-block;
  float: right;
}



a, a:visited, a:link{
  text-decoration: none;
  color: #333
}

.github_logo{
  height: 20px;
}

.repo_link{
  margin-top: 20px;
}


form.gain{
  margin-right: 10px;
  margin-bottom: 5px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  width: 70px;
  top: 0px;
}


input.gain{
 line-height: 30px;
 vertical-align: middle;
}

.instrument_row{
  height: 30px;
  margin-bottom: 5px;
}

.pad_row{
  margin: 0px;
  display:  inline-block;
}

.volume_label{
  width: 80px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.trash{
  margin-left: 100px
}