
body{
  -webkit-font-smoothing:antialiased;
  background-color: #efeff2
}

.pad {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.gain {
    width: 70px;
    display: inline-block;

}

.instrument_label {
  display:inline-block;
  text-align: right;
  vertical-align: top;
  width: 100px;
  border-radius: 2px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.step_number_container{
}

.bar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  margin-left: 5px;
  margin-bottom: 0px;
}

.pad_container {
  border: 2px solid #dadae3;
  background-color: #dadae3;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  width: 750px;
  text-align: right;
  box-shadow: 10px 10px 20px gray

}





.active{
   box-shadow: 0px 0px 5px red
}


.kick1, .kick2, .kick3 {
  background-color: #6ECFF6;
}

.snare1, .snare2 {
  background-color: #F7977A;
}

.clap1, .clap2 {
  background-color: #FDC68A;
}

.hihat1 , .hihat2 {
  background-color: #C4DF9B;
}

.openhat1, .openhat2 {
  background-color: #A2D39C;
}



.control {
  text-align: center;
  margin-top: 10px;
}

.pad_line {
  display: inline-block;
  position: absolute;
  border-left: 1px solid white;
  height: 300px;
  width: 1px;
}


.title {
  font-size: 3.5em;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}


.description{
  margin: auto;
  width: 50%;
  text-align: center;
  letter-spacing: 1px;
}

.directions{
  margin-top: 10px
}

.footer{
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
}

.btn{
  display: inline-flex;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.bpm-label{
  line-height: 34px;
  vertical-align: middle;
  float: right;
  margin-right: 5px;

}

.clear{
  margin-top: 50px;
}


a{
  text-decoration: none;
  color: none;
}

.bpm{
  display: inline-block;
  float: right;
}

a:link{
  text-decoration: none;
}


a:hover{
  text-decoration: none;

}

a:visited{
  text-decoration: none;
}

.github_logo{
  height: 30px;
  fill: #dadae3;

}

.repo_link{
  margin-top: 20px;
}


form.gain{
  margin-right: 10px;

}

.instrument_row{
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;

}

.pad_row{
  padding: 0px;
  display: flex;
}

.volume_label{
  width: 70px;
  margin-right: 10px;
  text-align: center;
}