
body{
  -webkit-font-smoothing:antialiased;
  background-color: white;
}


.pad_container {
  background: transparent;
  padding: 10px;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  text-align: left;

}


.pad_row{
  margin: 0px;
  display:  inline-block;
  width: 90%
}


.pad {
  display: inline-block;
  width: 5.75%;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-left: 0.5%;
  background-color: white;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
}
.bar {
  color: black;
  display: inline-block;
  width: 6.25%;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;
  margin-left: 0px;
  margin-bottom: 0px;
  float: right;
}

.bar_line{
  position: relative;
  top: -30px;
  left: 0px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 30px;
  width: 1px;
}

.current-index{
  color: red;
  color: white
}


.instrument_label {
  display:inline-block;
  background-color: transparent;
  vertical-align: top;
  width: 100%;
  border-radius: 2px;
  text-align: right;
  height: 30px;
  line-height: 30px;
  border: 0px;
  padding-right: 10%;
}

.instrument_row .btn-default{
  padding: 0px;
  padding-right: 10%;
}

.instrument_row{
  height: 60px;
  margin-bottom: 7px;
}


.step_number_container{
  display: block;
  margin-bottom: 5px;
  margin-left: 10%;
  width: 90%;
  height: 30px;

}


.controls{
  width: 10%;
  display: inline-block;
  height: 60px;
  text-align: center;
  float: left;
  background-color: white;
  border-radius: 2px;
  border: 0px solid #ccc;


}

.wire{
  display: inline-block;
  background-color: blue;
  width: 100px;
  height: 800px;
  position: absolute;
  top: 0px;
  margin-left: -938px;

}


.control {
  text-align: center;
  margin-top: 10px;
}

.active{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#ff4d2d, white); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#ff4d2d, white); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#ff4d2d, white); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#ff4d2d, white); /* Standard syntax */
  color: white;
  /*border: 0px;*/
}


.lit{
  border: 0px;
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(yellow, white); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(yellow, white); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(yellow, white); /* For Firefox 3.6 to 15 */
  background: radial-gradient(yellow, white); /* Standard syntax */
}



.title {
  font-size: 3.5em;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
  height: 100px;
}

.tracks_header{
  margin-right: 5px;
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.description{
  margin: auto;
  width: 50%;
  text-align: center;
  letter-spacing: 1px;
}

.directions{
  margin-bottom: 30px
}

.footer{
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;

}

.footer a{
  color: white;
}

.control .btn{
  display: inline-flex;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.bpm-label{
  line-height: 34px;
  vertical-align: middle;
  float: right;
  margin-right: 5px;
}

.clear{
  margin-top: 50px;
}

.bpm{
  display: inline-block;
  float: right;
}



a, a:visited, a:link{
  color: #333
}

.github_logo{
  height: 20px;
}

.repo_link{
  margin-top: 20px;
}


form.gain{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  width: 80%;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


input.gain{
 line-height: 30px;
 vertical-align: middle;
 height: 30px;
 width: 100%;
}





.volume_label{
  width: 80px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.trash{
  margin-left: 100px
}

button{
  text-align: center;
}

.note-row{
  text-align: right;
  margin-left: 10%;
  width: 90%;
}

.note{
  height: 30px;
  display: inline-block;
  width: 6%;
  border-radius: 2px;
  margin-bottom: 3px;
  margin-left: 0.25%;
  background-color: white;
  border: 1px solid #ccc;
  float: left;
}


.gate{
  float: left;
  width: 70px;
  text-align: right;
  padding-right: 5px;

}

button.active{
  background-color: red
}

button.gate{
  text-align: center;
  padding:  0px;
  margin: 3px
  /*width: 50px;*/
}

.arp.controls input{
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.arppegiator {
  display: none
}

.arp.controls{
  width: 100%;
  min-height: 60px

}
.controls-container{
  display: inline-block;
  width: 10%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instrument_label.btn:hover{
  background-color: transparent;
}

button:focus:{
  outline: 0;
}

@media (max-width: 1300px) {
  .github-ribbon {
    display: none;
  }
}